<ion-view title="Auction" id="page9" style="background-color:#333666;" class=" ">

 
    <ion-content padding="true" class="has-header">
        <h3 id="auction-heading3" style="color:#fff;font-weight:600;text-align:center;" class=" ">TIME LEFT</h3>
        <h1 id="auction-heading4" style="color:#F63B3B;font-weight:600;text-align:center;" class=" ">24:23</h1>
        
        <section class="container">
        <div class="left-half">
           
            <img src="img/swat.png" width="50" height="auto" style="display:block; margin-left: auto; margin-right: auto">
 <h1 id="auction-heading5" style="color:#fff;font-weight:100; text-align:center; margin-right: auto; margin-left:auto;" class="">$234.35</h1>

        </div>


        <div class = "right-half">
     
            <img src="img/tap.png" width="50" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        <h1 id="auction-heading5" style="color:#Fff;font-weight:100;text-align:center; margin-right: auto; margin-left:auto;" class="">$543.45</h1>
        </div>

 </section>
         <div class="spacer" style="width: 100px; height: 100px;"></div>
       
        <div class="">
            <img src="img/swat.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
             <h2 id="auction-heading4" style="color:#Fff;font-weight:600;text-align:center" class=" ">$234.35</h2>
        </div>
        <form id="auction-form4" class="list ">
 
            <label class="item item-input " id="auction-input2" name="bid">
               
            <button id="auction-button12" style="font-weight:600;font-size:30px; margin-left:1.5cm;" class=" button button-positive retro red  ">-</button>
            
                    <input type="number" placeholder="$3" style = "margin-left: 1cm; margin-right:auto;text-align:center;">    
            <button id="auction-button10" style="font-weight:600;font-size:30px; margin-right:1.5cm;" class=" button button-positive retro red   ">+</button>
         
            </label>
        </form>
        <div class="spacer" style="width: 100px; height: 50px;"></div>
        <button id="auction-button20" style="font-weight:600;font-size:500px;border-radius:500px 500px 500px 500px; float: left; margin-left:0.5cm" class=" button button-assertive button-large icon ion-stop "></button>
        <button id="auction-button19" style="font-weight:600;font-size:500px;border-radius:500px 500px 500px 500px; float: right; margin-right:0.5cm" class=" button button-balanced button-large icon ion-checkmark " ui-sref="app.match"></button>
    </ion-content>
</ion-view>