<ion-view title="Auction History" id="page14" style="background-color:#333666;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="auctionHistory-list8" class=" ">
            <ion-item id="auctionHistory-list-item17" class="  ">Buy
                <span class="item-note">20/07/2016</span>
            </ion-item>
            <ion-item id="auctionHistory-list-item23" class="  ">Selll
                <span class="item-note">20/07/2016</span>
            </ion-item>
            <ion-item id="auctionHistory-list-item22" class="  ">Selll
                <span class="item-note">20/07/2016</span>
            </ion-item>
            <ion-item id="auctionHistory-list-item21" class="  ">Selll
                <span class="item-note">20/07/2016</span>
            </ion-item>
            <ion-item id="auctionHistory-list-item19" class="  ">Buy
                <span class="item-note">20/07/2016</span>
            </ion-item>
            <ion-item id="auctionHistory-list-item24" class="  ">Buy
                <span class="item-note">20/07/2016</span>
            </ion-item>
            <ion-item id="auctionHistory-list-item18" class="  ">Selll
                <span class="item-note">20/07/2016</span>
            </ion-item>
            <ion-item id="auctionHistory-list-item20" class="  ">Buy
                <span class="item-note">20/07/2016</span>
            </ion-item>
            <ion-item id="auctionHistory-list-item25" class="  ">Buy
                <span class="item-note">20/07/2016</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>