<ion-view title="Main" id="main" class="background">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="app.searchBar" id="page-button3" style="border-radius:10px 10px 10px 10px;" class=" button button-positive retro red button-large button-block ">BUY</a>
    <a ui-sref="app.sell" id="page-button1" style="border-radius:10px 10px 10px 10px;" class="button button-positive retro cyan button-large button-block ">SELL</a>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>
