<ion-view title="Match" hide-nav-bar="true" id="page15" style="background-color:#333666;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 300px; height: 78px;"></div>
        <h1 id="match-heading5" style="color:#FFFFFF;text-align:center;" class=" ">MATCHED</h1>
        <div class="">
            <img src="img/swat.png" width="200" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="match-heading6" style="color:#FFFFFF;text-align:center;" class=" ">$167.98</h1>
        <a ui-sref="contact" id="match-button23" class=" button button-energized  button-block ">Contact Info</a>
    </ion-content>
</ion-view>